@media screen and (max-width: 1075px){
.top-2-logo
{
	/*border:#0F0 thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:955px;
}

.test
{
	width:100%;
}

@media screen and (max-width: 1000px){
.top-2-logo
{
	/*border:#000 thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:901px;
}

.test
{
	width:100%;
}

}

@media screen and (max-width: 950px){
.top-2-logo
{
	/*border:#F00 thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:851px;
}

.middle-l-panel-nav-headng {
	margin-top:11px;
}
.test
{
	width:100%;
}

}





@media screen and (max-width: 870px){
.top-2-logo
{
	/*border:#0F0 thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:751px;
}

.middle-l-f-items-img img
{
	width:100%;
}
.test
{
	width:100%;
}
}




@media screen and (max-width: 800px){
.top-2-logo
{
	/*border:#00F thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:701px;
}

.leftNavigation ul li{
	margin-left:1px;
}

.inner-fld-01 {
	width:95%;
}

.inner-main-02 {
	width:55%;
}

.inner-main-05, .inner-main-03 {
	width:41%;
}
.test
{
	width:100%;
}

}





@media screen and (max-width: 700px){
.top-2-logo
{
	/*border:#000 thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:561px;
}

.top-2-search-fld {
	width:215px;
}

.leftNav-container
{
	display:none;
}
.tinynav
{
	display:block;
}

.inner-main {
	width:100%;
}

.middle-l-f-items-main
{
	width:61%;
	margin-left:0%;
}

.middle-l-f-items-main img
{
	width:auto;
}

.middle-r-panel-main {
	width:35%; float:right;
}

.inner-main-07{
	width:100%;
}

.inner-main-05-b{
	width:100%;
}

.inner-main-05-a
{
	width:100%;
}
.test
{
	width:100%;
}
}





@media screen and (max-width: 600px){
.top-2-logo
{
	/*border:#F00 thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:481px;
}

.footer-ask-qstns-main
{
	display:none;
}

.footer-2
{
	width:100%;
}

.top-2-acnt-cart-main {
	display:none;
}

.cartSearch-containerTiny
{
	display:block;
}

.top-2-search-fld {
	width:165px;
}

.top-2-search-main {
	margin-top:5px;
}

.inner-main-02 {
	width:100%;
}

.inner-main-05 {
	width:100%;
	margin-top:31px;
}

.inner-main-03
{
	width:100%;
}

.giftCertificate-head
{
	font-size:23px;
}

.inner-pro-d-main-lp-1 {
	width:63%;
}

.detail-right
{
	width:35%;
}
.test
{
	width:100%;
}
}






@media screen and (max-width: 500px){
.top-2-logo
{
	/*border:#F0F thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:401px;
}

/*.top-2-acnt-cart-1Tiny
{
	float:right;
}*/

.top-2-search-main
{
	clear:both;
	float:left;
}

.product-listingDiv{
	width:46%;
	margin-left:2%;
	margin-right:2%;
}
.product-listingSep
{
	display:none;
}

.middle-l-f-items-main
{
	width:100%;
	margin-left:0%;
}

.middle-r-panel-main {
	width:100%; float:right;
}

.middle-l-panel-news-thmb {
	width:12%;
}

.middle-l-panel-news-txt1 {
	width:86%;
}

.inner-pro-d-main-lp-1 {
	width:100%;
}

.detail-right
{
	width:100%;
	margin-top:31px;
}

.tinynav
{
	width:100%;
}
.test
{
	width:100%;
}
}







@media screen and (max-width: 400px){
.top-2-logo
{
	/*border:#0FF thin solid;*/
}

.top-1059, .middle-main, .footer-1, .footer-trm-con-txt {
	width:301px;
}

.product-listingDiv{
	width:100%;
	margin-left:0%;
	margin-right:0%;
}

.middle-l-f-items-img img
{
	width:auto;
}
.test
{
	width:100%;
}
}
}