/* CSS Document */

@media (min-width:320px) {
.container {
	width: 90%;
}
}
@media (min-width:480px) {
.container {
	width: 90%;
}
}
 @media (min-width:768px) {
.container {
	width: 90%;
}
}
 @media (min-width:991px) {
.container {
	width: 950px;
}
}
 @media (min-width:1200px) {
.container {
	width: 1180px;
}
}
 @media (min-width:1350px) {
}
 @media (min-width:1366px) {
.container {
	width: 1170px;
}
}
 @media (max-width:1365px) {
body, html {
	font-size: 16px;
}
}
 @media (max-width:1280px) {
}
 @media (max-width:1200px) {
.spa_wrapper h2::after {
	left: 31%;
}
.spa_sec_left {
	width: 64%;
}
.eye_candy h2::after {
	left: 35%;
}
.service h2::after {
	left: 31%;
}
.service_slider_content h3 {
	font-size: 15px;
}
.service_slider_content {
	margin: 0 10px !important;
}
.press h2::after {
	left: 32%;
}
nav .navigation ul li a {
	padding: 10px 5px;
	font-size: 12px;
}
.search_wrapper {
	margin-left: 10px;
}
.search a.btn {
	height: 35px;
	width: 35px;
}
.form_search_wrap {
	width: 50px;
	height: 50px;
}
.search_wrapper ul li a i {
	padding-top: 8px;
}
.press .service_slider_content {
	min-height: 165px;
}
.contact_us h2::after {
	left: 31%;
}
.contact_wrapper {
	padding: 11% 0;
}
.contact-left-box .addres-box a {
	font-size: 15px;
}
nav .navigation ul li ul.submenu {
	top: 40px;
}
nav .navigation {
	padding-top: 0px;
}
.inner_about .spa_sec_left {
	width: 47%;
}
.our_team h5 {
	font-size: 30px;
}
.inner_testi h2:after {
	left: 31%;
}
.team_wrap .top_heading_sec {
	min-height: 250px;
}
.middle_plan_secc {
	margin: 0 24px;
}
.plan_heading_shape {
	left: 25%;
}
}
 @media (max-width:990px) {
.search_wrapper {
	margin-left: 0px;
}
nav .navigation ul li a {
	padding: 10px 2px;
	font-size: 10px;
}
.form_search_wrap {
	width: 45px;
	height: 45px;
}
.search a.btn {
	height: 30px;
	width: 30px;
}
.search_wrapper ul li a i {
	font-size: 15px;
}
.search_wrapper ul li a i {
	padding-top: 7px;
}
.spa_sec_left {
	width: 56%;
	padding: 50px 0 0;
}
.spa_sec_right {
	padding: 50px 0 0;
}
.eye_candy h2::after {
	left: 32%;
}
.service h2::after {
	left: 30%;
}
.contact_us h2::after {
	left: 30%;
}
.press h2::after {
	left: 30%;
}
nav .navigation ul li ul.submenu {
	top: 38px;
}
.inner_about .spa_sec_left {
	width: 45%;
}
.inner_about .spa_sec_left {
	padding-top: 42px;
}
.inner_about .spa_sec_right {
	width: 50%;
}
.our_team h5 {
	font-size: 27px;
}
.inner_testi h2:after {
	left: 30%;
}
.top_heading_sec h6 a {
	font-size: 15px;
}
.middle_plan_secc {
	margin: 0 19px;
}
.slider_contact_container .email {
	font-size: 15px;
}
.ser_heading .contact_wrapper {
	padding: 9% 0 16%;
}
.contact-top-address {
    width: 49%;
}
.contact-top-address ul{
	margin:0;
}

}
@media (max-width:880px) {
nav .logo {
	float: none;
	text-align: center;
}
nav .navigation ul li a {
	padding: 10px 8px;
	font-size: 13px;
}
.search_wrapper {
	padding-right: 12px;
}
.slider_contact_container .email {
	font-size: 15px;
}
.spa_sec_left {
	width: 56%;
}
.spa_wrapper .spa_sec_left p {
	font-size: 18px;
}
.spa_wrapper h2::after {
	left: 27%;
}
.eye_candy h2::after {
	left: 29%;
}
.service_wrapper2 {
	padding: 120px 0 80px 0;
}
.press {
	padding: 30px 0 0px;
}
.footer_sec_content h5 {
	font-size: 19px;
}
.testimonial_sec {
	padding: 30px 0 70px;
}
.contact-left-box {
	width: 50%;
}
.contact-left-box .addres-box a {
	font-size: 13px;
}
.testimonial_sec h2::after {
	left: 28%;
}
.eye_candy_rigth p {
	font-size: 18px;
}
nav .logo {
	padding-top: 0px;
}
.our_team h5 {
	font-size: 25px;
}
.team_wrap .top_heading_sec {
	padding: 25px 10px;
}
.plan_heading_shape {
	left: 21%;
}
.middle_plan_secc {
	margin: 0 18px;
}
.inner_heading {
	padding: 20% 0 40px;
}
.top_heading_sec h6 a {
	font-size: 14px;
}

.gallery-right{
	width:65%;
}
#gallery-menu{
	width:30%;
}



}
@media (max-width:815px) {
nav .navigation ul li a {
	padding: 10px 5px;
}
.testimonial_sec h2::after {
	left: 26%;
}
.contact_us h2::after {
	left: 26%;
}
.contact-left-box .addres-box a {
	font-size: 12px;
}
.spa_sec_left {
	width: 50%;
}
.testimonial_sec h2::after {
	left: 24%;
}
.inner_service h2 {
	font-size: 31px;
}
.middle_plan_secc {
	margin: 0 17px;
}
.plan_heading_shape {
	left: 18%;
}
.top_heading_sec h6 a {
	font-size: 13px;
}
.team_wrap .middle-sec {
	margin: 0 15px;
}
.team_wrap .top_heading_sec {
	width: 31%;
}


.contact-top-address{
	margin:5px 0 5px 0;
}
}
 @media (max-width:768px) {
body, html {
	font-size: 12px;
}
.f_left, .f_right {
	float: none;
}
.app_button {
	padding: 30% 0 5%;
}
nav .navigation ul li a {
	padding: 10px 3px;
}
nav .navigation ul li a {
	font-size: 11px;
}
.nav_wrap {
	float: none;
	display: block;
	text-align: center;
}
.slider_contact_container .email {
	font-size: 12px;
}
.req_comment {
	font-size: 15px !important;
	line-height: 20px !important;
}
.spa_sec_left {
	width: 100%;
}
.spa_wrapper .spa_sec_left p {
	text-align: justify;
}
.spa_sec_right {
	float: none;
	text-align: center;
}
.spa_wrapper h2::after {
	left: 24%;
}
.eye_candy h2::after {
	left: 26%;
}
.eye_candy_rigth {
	width: 100%;
	float: none;
	padding: 15px 40px;
	background: rgba(255,255,255,0.6);
	margin-top: 35px;
}
.service h2::after {
	left: 24%;
}
.press h2::after {
	left: 24%;
}
.eye_candy_rigth p {
	margin: 10px 0 0;
	text-align: justify;
	padding-right: 0;
}
.eye_candy {
	padding: 60px 0 30px;
}
.contact-left-box {
	width: 100%;
	margin-bottom: 30px;
}
.contact-right-box {
	float: none;
	width: 100%;
	padding-bottom: 50px;
}
.contact-left-box .addres-box a {
	font-size: 15px;
}
.footer_sec_content {
	width: 50%;
	min-height: 340px;
}
.footer_sec_content:nth-last-child(1), .footer_sec_content:nth-last-child(2) {
	min-height: 0px;
}
.footer_overlay {
	background: rgba(0,0,0,.78);
	padding: 50px 0;
}
.spa_sec_left {
	padding: 0;
}
.spa_sec_right {
	padding: 60px 0 0;
}
.inner_about .spa_sec_left {
	width: 100%;
}
.inner_about .spa_sec_right {
	width: 100%;
	padding: 25px 0 0;
}
.inner_about .spa_sec_left {
	padding-top: 30px;
}
.team_wrap {
	margin-bottom: 35px;
}
.our_team h5 {
	font-size: 22px;
}
.inner_service .spa_sec_right {
	width: 100%;
}
.inner_service .spa_sec_left {
	width: 100%;
}
.inner_service h2::after {
	top: 50px;
}
.inner_service h2 {
	font-size: 33px;
}
.plan_sec {
	width: 100%;
	margin-bottom: 30px;
}
.middle_plan_secc {
	margin: 0 0 30px 0;
}
.plan_sec:last-child {
	margin-bottom: 0px;
}
.plan_heading_shape {
	left: 39%;
	top: 70px;
}
.middle_plan_secc {
	max-height: none;
}
.team_wrap .top_heading_sec {
	width: 100%;
	margin-bottom: 15px;
}
.team_wrap .middle-sec {
	margin: 0 0 15px;
}
.top_heading_sec h6 a {
	font-size: 18px;
}
.ser_heading .contact_wrapper {
	padding: 11% 0 13%;
}
.team_wrap .top_heading_sec {
	min-height: 0;
}


#gallery-inner .liquo-gallery li{
	width:48% !important;
}

.gallery-image-center{
	text-align:center;
	width:100%;
	margin:0 auto;
}
#appo-form input {
    width: 100%;
}
#appo-form textarea {
    width: 100%;
}
.contact-top-address {
    width: 100%;
}
.inner_service ul li {
    font-size: 14px;
}
.inner_service h3 {
    font-size:16px;
}

}
 @media (max-width:640px) {
body, html {
	font-size: 10px;
}
.bottom_footer p {
	text-align: center;
	display: block;
	padding-bottom: 5px;
}
.footer_link {
	text-align: center;
	display: block;
	float: none;
}
.spa_wrapper h2::after {
	left: 19%;
}
.eye_candy h2::after {
	left: 22%;
}
.service h2::after {
	left: 18%;
}
.press h2::after {
	left: 20%;
}
.contact_wrapper {
	padding: 16% 0 11%;
}
.service_slider_content {
	margin: 0 2px !important;
}
.navigation > ul {
	display: none;
}
.navigation .button {
	display: block !important;
}
.nav_button {
	display: block !important;
}
.nav_wrap {
	margin-top: 10px;
}
.plan_heading_shape {
	left: 37%;
}
.app_button {
	padding: 40% 0 5%;
}
.inner_heading {
	padding: 31% 0 20px;
}
.testimonial_sec h2::after {
	left: 19%;
}

.contact-top-address{
	margin:10px 0 10px 0;
	width:100%;
}

#contact .contact-form-box .form-filed{
	width:100%;
}
#contact .form-filed-textarea{
	width:100%;
	padding-top:3px;
}

.price-left{
	width:70%;
}
.price-right{
	width:100px;
}
.press-box ul li {
    width: 75%;
}




}
 @media (max-width: 550px) {
.slider_contact_container ul li {
	font-size: 14px;
}
.slider_contact_container .email {
	font-size: 10px;
}
.testimonial_sec h2::after {
	left: 13%;
}
.contact_us h2::after {
	left: 14%;
}
.press h2::after {
	left: 14%;
}
.service h2::after {
	left: 13%;
}
.eye_candy h2::after {
	left: 17%;
}
.spa_wrapper h2::after {
	left: 14%;
}
.team_wrap {
	margin-top: 90px;
	margin-bottom: 69px;
}
.inner_testi h2 {
	font-size: 28px;
}
.testimonial_sec h2::after {
	left: 8%;
}
.inner_testi h2 {
	font-size: 26px;
}
.plan_heading_shape {
	left: 34%;
	top: 95px;
}
.inner_heading {
	padding: 37% 0 20px;
}

#appo-form{
	width:90%;
}
}
 @media (max-width:480px) {
body, html {
	font-size: 8px;
}
.slider_contact_container {
	width: 100%;
	float: none;
	border-right: none;
	border-bottom: 1px solid #6b6b6b;
}
.slider_contact_container {
	padding-top: 20px;
}
.slider_contact_container:first-child {
	padding-top: 0px;
}
.slider_contact {
	padding-bottom: 10px;
}
.slider_contact_container:last-child {
	border-bottom: none;
}
.slider_contact_container ul li {
	font-size: 16px;
}
.slider_contact_container .email {
	font-size: 17px;
}
.spa_wrapper h2::after {
	left: 8%;
}
.spa_wrapper {
	padding: 40px 0;
}
.eye_candy h2::after {
	left: 12%;
}
.eye_candy {
	padding: 40px 0 0;
}
.service h2::after {
	left: 7%;
}
.press h2::after {
	left: 3%;
}
.contact_us h2::after {
	left: 9%;
}
.contact_wrapper {
	padding: 25% 0 17%;
}
.inner_about .app_button {
	text-align: center;
}
.app_button {
	padding: 45% 0 5%;
}
.inner_service h2 {
	font-size: 26px;
}


#gallery-menu{
	width:100%;
}
#gallery-menu a{
	display: inline-block !important;
	line-height:30px;
}
#gallery-menu{
	text-align:center;
}
#gallery-menu a{
	margin:1px 0;
}
.gallery-right{
	width:99%;
	margin-top:20px;
}
.price-left{
	width:100%;
}
.price-right{
	width:100%;
}

.lSSlideOuter .lSPager.lSGallery{
	display:none;
}
.contact-top-address ul li.phone, .contact-top-address ul li.phone a {
    font-size: 18px;
}


}
@media (max-width:423px) {
.footer_sec_content {
	width: 100%;
	min-height: 0px;
}
.bottom_footer p {
	padding-bottom: 0px;
}
.quick_sec {
	padding-bottom: 7px;
}
.footer_sec_content:nth-last-child(2) {
	padding-bottom: 15px;
}
.contact-left-box .addres-box .addres-box-left, .contact-left-box .addres-box .addres-box-right {
	float: none;
	width: 100%;
}
.contact-left-box .addres-box .addres-box-left {
	margin-bottom: 20px;
}
.press h2::after, .contact_us h2::after, .service h2::after, .eye_candy h2::after, .spa_wrapper h2::after {
	display: none;
}
.spa_sec_left {
	padding: 0px;
}
.eye_candy_rigth {
	margin-top: 0;
}
.service_slider_content {
	min-height: 0;
}
.service_wrapper2 .slider {
	margin: 15px 0 10px !important;
}
.flex-control-nav {
	bottom: -40px !important;
}
.press .slider {
	margin: 15px 0 10px !important;
}
.testimonial {
	margin: 30px auto 30px auto;
}
.contact_us h6 {
	padding-top: 10px;
}
.spa_wrapper .spa_sec_left p, .eye_candy_rigth p {
	line-height: 30px;
}
.eye_candy_rigth {
	padding: 15px 25px;
}
.spa_sec_right {
	padding: 25px 0 0;
}
.inner_testi h2:after {
	display: none;
}
.our_team h5 {
	font-size: 19px;
}
.inner_heading {
	padding: 45% 0 20px;
}
ul.short_cut_link {
	padding: 8px 0;
}
.plan_heading_shape {
	left: 32%;
}
.inner_service .spa_sec_right {
	padding: 30px 0 0;
}
.plan_sec_holder {
	margin-top: 35px;
}
.service_gallery h2::after {
	display: none;
}
.gallery_service {
	margin-top: 20px;
}
.service_gallery h2 {
	font-size: 26px;
}
.press-box ul li {
    width: 100%;
}
}
 @media (max-width:390px) {
body, html {
	font-size: 7px;
}
.bottom_footer p {
	line-height: 17px;
}
.contact_wrapper {
	padding: 33% 0 22%;
}
.press {
	padding: 20px 0 0px;
}
#container {
	padding: 20px 30px 0 !important;
}
.press .service_slider_content {
	min-height: 0;
}
.service h2 {
	font-size: 31px;
}
.service_slider_content h3 {
	font-size: 13px;
	line-height: 18px;
}
.service_wrapper2 {
	padding: 120px 0 100px 0;
}
.eye_candy_left_img h2 img {
	max-width: 88%;
}
.flickity-page-dots {
	bottom: 2px !important;
}
.testimonial_sec {
	padding: 20px 0 20px;
}
.eye_candy_rigth {
	padding: 15px 20px;
}
.team_wrap {
	margin-top: 100px;
	margin-bottom: 100px;
}
.inner_testi h2 {
	font-size: 28px;
}
.app_button {
	padding: 55% 0 5%;
}
.inner_heading {
	padding: 55% 0 20px;
}
.inner_service h2 {
	font-size: 24px;
}
.spa_wrapper.inner_service {
	padding: 40px 0 0px;
}
.service_gallery {
	padding: 25px 0 45px;
}
}
 @media (max-width:330px) {
.plan_container span {
	font-size: 14px;
}
.plan_sec_middle ul li a {
	font-size: 13px;
}
.plan_heading_shape {
	left: 26%;
}
.plan_sec_top p {
	line-height: 18px;
}
}
